@import "./normalize.css";
@import "./text-styles.css";
@import "./bookends.css";
@import "./interactions.css";
@import "./pages.css";

:root {
    --random-color: #FFC51C;
  }
* {
    box-sizing: border-box;
}
/*sections*/
header{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
.landing {
    padding: 125px 50px;
    margin: auto;
    z-index: 0;
    height: 100%;
    position: fixed;
    background-color: var(--random-color);
}

/*Rows*/
.left {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    align-items: center;
    padding-right: 25px;
}
.right {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    align-items: center;
    padding-left: 25px;
}

.short-row {
    width: 33.33%;
    text-align: right;
}
.long-row {
    width: 66.66%;
    padding-right: 0;
}

/*Objects*/
.divider {
    border-bottom: 2px solid #1a1a1a;
}
img {
    width: 100%;
    height: auto;
    display: block;
  }
  
picture {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
.fullscreen {
    max-width: 95%;
}

/*Responsive*/
@media (max-width: 1000px) {
.left {
    width: 75%;
    padding: 0px;
    }
.right {
    width: 25%;
    padding: 0px;
    }
.short-row {
    width: 100%;
    text-align: left;
    }
.long-row {
    width: 100%;
    justify-content: flex-start;
    }
.mobile {
    flex-direction: column;
    }
.fullscreen {
    max-width: 100%;
    }
 picture{ 
    max-width: 100%;
    }
.long-row {
    flex-direction: column;
    }
.none {
    border-bottom: none;
    }
}