header{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
.landing {
    padding: 15vh 50px;
    margin: auto;
    z-index: 0;
    height: 100%;
    position: fixed;
    background-color: var(--random-color);
}
.disappear {
    transition: 2s;
}

.landing-row {
    display: flex;
    height: 100vh;
    padding: 96px 50px;
    margin: auto;
}

/* Home Page */

.info {
    display: flex;
    justify-content: space-between;
}
.short-info {
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.column1 {
    width: 60%;
}
.column2 {
    width: 50%;
}
.column3 {
    width: 50%;
}

/*Second Section*/
.work {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 100vh;
    z-index: 100;
    background-color: white;
}
.project-nav {
    padding: 0px 50px;
    height: 72px;
    border-top: 2px solid #1a1a1a;
    border-bottom: 2px solid #1a1a1a;
    display: flex;
}
.project.struck .project-nav {
    position: sticky;
    right: 0;
    left: 0;
    background-color: white;
  }
.project-content {
    width: 100%;
    display: flex;
    padding: 2rem 50px;
    margin-top: 2rem;
    margin-bottom: 6rem;
}
.project-details {
    width: 50vw;
    margin-right: 1.5rem;
}
.hide {
    display: none;
}
.now-hide {
    display: inherit;
}
.more {
    margin-left: 1.5rem;
}
.project-details picture {
    padding-top: 3rem;
  }
.more picture {
    padding-top: 0rem;
    padding-bottom: 3rem;
}

/* Home Page Responsive */
@media (max-width: 1042px) {
    .project-content {
            flex-direction: column;
        }
    .more picture {
        display: none;
        }
    .special picture {
        display: inherit;
        }
    .special picture {
        padding-bottom: .5rem;
        }
    .project-details {
            margin-right: 0;
            width: 100%;
        }
    .project-details picture {
            padding-top: 2rem;
        }
    .more {
            margin-left: 0;
            width: 100%;
            margin-top: 1rem;
        }
    }

@media (max-width: 1000px) {
    .project-content {
        margin-bottom: 3rem;
    }
    .info {
        flex-direction: column;
    }
    .column1 {
        width: 100%;
    }
    .short-info {
        width: 100%;
        margin-top: 1rem;
    }
    .hide {
        display: inherit;
    }
    .now-hide {
        display: none;
    }
}

/*-------------------------------------------*/
/*Project Page ✅ */
/*First Section*/
.project-landing {
    display: flex;
    padding: 125px 50px;
    margin: auto;
    z-index: 0;
    height: 100%;
    position: fixed;
    background-color: var(--random-color);
}
.project-meta {
    width: 33.33%;
    padding-right: 1rem;
}
.project-description {
    width: 66.66%;
}

/*Second Section*/
.case-study {
    position: relative;
    z-index: 100;
    background-color: white;
    margin-top: 75vh;
}
.text {
    width: 66.66%;
    padding: 4rem 50px;
}
.image-row {
    display: flex;
    align-items: center;
}
.first {
    padding-top: 96px;
}
.image-left {
    width: 50vw;
    margin-right: 1.5rem;
}
.image-right {
    width: 50vw;
    margin-left: 1.5rem; 
}

/* Project Page Responsive */
@media (max-width: 1042px) {
    .image-right {
        padding-left: 0;
}
@media (max-width: 1000px) { 
    .project-landing {
        flex-direction: column;
    }
    .project-meta {
        width: 100%;
        padding-right: 0;
    }
    .project-description {
        width: 100%;
    }
    .image-row {
        flex-direction: column;
    }
    .image-left {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1.5rem;
    }
    .image-right {
        width: 100%;
        margin-left: 0;
    }
}
}

/*-------------------------------------------*/
/* CONTACT PAGE ✅ */
/*First Section*/
.contact-page {
    padding-top: 5vh;
    mix-blend-mode: multiply;
}
.headshot {
    width: 100%;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: -1;
    mix-blend-mode: multiply;
}
.landing-contact {
    background-image: linear-gradient(
        var(--random-color) 0vh 75vh,
        transparent 74.25% 100%
      );
    z-index: 0;
    height: 100%;
    position: fixed;
    display: flex;
    padding: 96px 50px;
    margin: auto;
}
.landing-text {
    flex-direction: column;
    padding-left: 3em;
}
.landing-buttons{
    display: flex;
    margin-top: 2rem;
}
.landing-buttons button:first-of-type {
    margin-right: 1rem;
}
.landing-buttons button:last-of-type{
    margin-left: 1rem;
}

/*Second Section*/
.contact-about {
    z-index: 100;
    margin-top: 100vh;
    position: relative;
    background-color: white;
}
.contact-info {
    width: auto;
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
}
.info-row {
    display: flex;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 4rem;
}
.info-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-inline-start: 0px;
}
.info-list li:hover {
    background-color: var(--random-color);
    cursor: default;
}


/* Contact Page Responsive */
@media (max-width: 1042px) {
    .info-row {
            flex-direction: column;
            margin-bottom: 2rem;
        }
}

@media (max-width: 1000px) {
 .contact-landing {
        margin-top: 2em;
     padding-left: 0em;
    }
.headshot {
        display: none;
    }
.contact-page {
        background-color: var(--random-color);
    }
.landing-buttons {
        flex-direction: column;
    }
.landing-buttons button:first-of-type {
        margin-right: 0rem;
        width: 100%;
        margin: 0.5rem 0;
    }
.landing-buttons button:last-of-type{
        margin-left: 0rem;
        width: 100%;
        margin: 0.5rem 0;
    }
.info-list {
        flex-direction: column;
    }
.landing-text {
        padding-left: 0em;
    }
}
}