/* HOME PAGE ✅ */
/* First Section*/ 
.home-landing {
    margin: auto;
    z-index: 0;
    height: 100%;
    position: fixed;
    background-color: white;
}
.home-text {
    padding: 7em 50px;
    height: 65vh;
    background-color: var(--random-color);
}
.home-text-left {
    display: flex;
    width: 66.66%;
    justify-content: flex-start;
}
.home-text-bottom {
    display: flex;
    width: 100%;
    align-content: flex-end;
}
.home-text-bottom-right {
    width: 66.66%;
}
.home-text-bottom-work {
    width: 33.33%;
    text-align: right;
    margin-top: auto;
}
.info {
    display: flex;
    justify-content: space-between;
}
.short-info {
    display: flex;
    justify-content: space-between;
    width: 50%;
} 
.columns {
    height: auto;
    padding: 2rem 50px;
}
.column2 {
    height: auto;
    width: 50%;
}
.column3 {
    height: auto;
    width: 50%;
}

/*Second Section*/
#work {
    padding-top: 70px;
}
.work {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 100vh;
    z-index: 100;
    background-color: white;
}
.project-nav {
    padding: 0px 50px;
    height: 72px;
    border-top: 2px solid #1a1a1a;
    border-bottom: 2px solid #1a1a1a;
    display: flex;
}
.project.struck .project-nav {
    position: sticky;
    right: 0;
    left: 0;
    background-color: white;
  }
.project-content {
    width: 100%;
    display: flex;
    padding: 2rem 50px;
    margin-top: 2rem;
    margin-bottom: 6rem;
}
.project-details {
    width: 50vw;
    margin-right: 1.5rem;
}
.hide {
    display: none;
    margin-top: 0;
}
.now-hide {
    display: inherit;
}
.more {
    margin-left: 1.5rem;
}
.project-details picture {
    padding-top: 3rem;
  }
.more picture {
    padding-top: 0rem;
    padding-bottom: 3rem;
}

/* Home Page Responsive */

@media (max-width: 1000px) {
.columns {
        display: none;
    }
    .home-text {
        height: 80vh;
        padding: 10rem 50px
    }
    .work {
        margin-top: 80vh;
    }
    .home-text-left {
        width: 100%;
    }
    .home-text-bottom { 
        flex-direction: column;
    }    
    .home-text-bottom-right {
        width: 100%;
        padding-bottom: 2rem;
    }
    .home-text-bottom-work {
        width: 100%;
        text-align: left;
        margin-top: 1rem;
    }
    .home-text-right {
        display: flex;
        margin-left: 0%;
        width: 100%;
        text-align: left;
    }
    .hide {
        display: inherit;
    }
    .now-hide {
        display: none;
    }

/*Second Half*/
.project-content {
        flex-direction: column;
        margin-bottom: 3rem;
}
.more picture {
    display: none;
    }
.special picture {
    display: inherit;
    }
.special picture {
    padding-bottom: .5rem;
    }
.project-details {
        margin-right: 0;
        width: 100%;
    }
.project-details picture {
        padding-top: 2rem;
    }
.more {
        margin-left: 0;
        width: 100%;
        margin-top: 1rem;
    }
    .project-nav { 
        height: 6rem;
    }
}
/*-------------------------------------------*/
/*Project Page ✅ */
/*First Section*/
.project-landing {
    display: flex;
    padding: 7rem 50px;
    margin: auto;
    z-index: 0;
    height: 100%;
    position: fixed;
    background-color: var(--random-color);
}
.project-meta {
    width: 33.33%;
    padding-right: 1rem;
}
.project-description {
    width: 66.66%;
}

/*Second Section*/
.case-study {
    position: relative;
    z-index: 100;
    background-color: white;
    margin-top: 80vh;
    padding: 3rem 0;
}
.text {
    width: 66.66%;
    padding: 4rem 50px;
}
.image-row {
    display: flex;
    align-items: center;
    width: 95%;
    margin: auto;
    margin-top: 1rem;
}
.image-row-stacked {
    display: flex;
    align-items: center;
    width: 95%;
    margin: auto;
}
.stacked picture {
    max-width: 100%;
}
.stacked .image-left {
    width: auto;
    padding-bottom: 1rem;
}
.stacked .image-right {
    width: auto;
    padding-bottom: 1rem;
}
.image-left {
    width: 50vw;
    margin-right: 1.5rem;
}
.image-right {
    width: 50vw;
    margin-left: 1.5rem; 
}

/* Project Page Responsive */
@media (max-width: 1000px) { 
    .project-landing {
        padding: 10rem 50px;
        flex-direction: column;
    }
    .project-meta {
        width: 100%;
        padding-right: 0;
    }
    .project-description {
        width: 100%;
    }
    .image-row {
        flex-direction: column;
        width: 100%;
        margin: 1rem 0rem;
    }
    .image-left {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1.5rem;
    }
    .image-right {
        width: 100%;
        margin-left: 0;
    }
    .text {
        width: 100%;
    }
    .stacked .image-left  {
        margin-bottom: 0rem;
    }
    .image-right {
        padding-left: 0;
    }
}


/*-------------------------------------------*/
/* CONTACT PAGE ✅ */
/*First Section*/
.contact-page {
    mix-blend-mode: multiply;
}
.headshot {
    width: 50%;
    position: absolute;
    left: 50px;
    top: 6rem;
    z-index: -1;
    mix-blend-mode: screen;
}
.headshot-2 {
    width: 100%;
    position: relative;
    left: 0px;
    top: -16rem;
    z-index: -1;
    mix-blend-mode: screen;
}
.landing-contact {
    background-image: linear-gradient(
        var(--random-color) 0vh 75vh,
        transparent 74.25% 100%
      );
    z-index: 0;
    height: 100%;
    position: fixed;
    display: flex;
    padding: 7rem 50px;
    margin: auto;
    -webkit-transform: translateZ(0);
}
.landing-text {
    flex-direction: column;
    margin-left: 33.33%;
}
.landing-buttons{
    display: flex;
    margin-top: 2rem;
}
.landing-buttons button:first-of-type {
    margin-right: 1rem;
}
.landing-buttons button:last-of-type{
    margin-left: 1rem;
}

/*Second Section*/
#about {
    padding-top: 144px;
}
.contact-about {
    z-index: 100;
    margin-top: 100vh;
    position: relative;
    background-color: white;
}
.contact-info {
    width: auto;
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
}
.info-row {
    display: flex;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 4rem;
}
.info-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-inline-start: 0px;
}
.info-list li:hover {
    background-color: var(--random-color);
    cursor: default;
}


/* Contact Page Responsive */
@media (max-width: 1000px) {
.landing-contact {
    padding: 10rem 50px;
    }   
 .landing-text {
    margin-left: 0%;
    }
 .contact-landing {
    margin-top: 2em;
     padding-left: 0em;
    }
.headshot {
        display: none;
    }
.contact-page {
        background-color: var(--random-color);
    }
.landing-buttons {
        flex-direction: column;
    }
.landing-buttons button:first-of-type {
        margin-right: 0rem;
        width: 100%;
        margin: 0.5rem 0;
    }
.landing-buttons button:last-of-type{
        margin-left: 0rem;
        width: 100%;
        margin: 0.5rem 0;
    }
.info-list {
        flex-direction: column;
    }
.info-row {
    flex-direction: column;
    margin-bottom: 2rem;
}
#about {
    padding-top: 96px;
}
}