:root {
    --base-font-size: 0.5rem;
    --fluid-typography-ratio: 0.9;
    --rem: calc(var(--base-font-size) + var(--fluid-typography-ratio) * 1vw);
    --size-1-1: calc(var(--rem) * 3);
    --size-1-2: calc(var(--rem) * 1.5);
    --size-1-3: calc(var(--rem) * 1.25);
    --size-1-4: calc(var(--rem) * .8);
    --size-1-5: calc(var(--rem) * .6);
    --size-1-6: calc(var(--rem) * 4);
    --size-1-7: calc(var(--rem) * .9);
}
@font-face {
    font-family: Queens;
    src: url(/assets/Queens/Web/Queens.woff);
}

/*-------------------------------------------*/
/*Headings ✅ */
h1 {
    font-family: Work Sans;
    font-size: 4.25vw;
    line-height: 1.15;
    font-weight: 400;
    color: #1a1a1a;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
h2 {
    font-family: Work Sans;
    font-size: 2vw;
    line-height: 1.5;
    font-weight: 400;
    color: #1a1a1a;
}
h3 {
    font-family: Work Sans;
    font-size: 1.5vw;
    line-height: 1.75;
    font-weight: 400;
    color: #1a1a1a;
}
h4 {
    font-family: Queens;
    font-size: 4vw;
    line-height: 1.15;
    font-weight: 400;
    color: #1a1a1a;
    margin-block-start: 1.75rem;
    margin-block-end: 1rem;
}
h5 {
    font-family: Queens;
    font-size: 2vw;
    line-height: 1.15;
    font-weight: 400;
    color: #1a1a1a;
    margin-block-start: 0rem;
    margin-block-end: 1rem;
}
@media (max-width: 1000px) { 
    h1 {
        font-size: 9vw;
    }
    h2 {
        font-size: 4.5vw;
    }
    h3 {
        font-size: 4.5vw;
    }
    h4 {
        font-size: 12vw;
    }
    h5 {
        font-size: 4.5vw;
    }
}

/*-------------------------------------------*/
/*Text Styles ✅ */
p {
    font-family: Work Sans;
    font-size: 1.75vw;
    line-height: 1.75;
    font-weight: 400;
    color: #1a1a1a;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}
a {
    font-family: Work Sans;
    font-size: 1.75vw;
    line-height: 1.75;
    font-weight: 400;
    color: #1a1a1a;
    text-decoration: none;
 }
a:hover {
    color: var(--random-color);
 }
a:active {
    color: #1a1a1a;
    text-decoration: underline;
}
.info a:hover {
    color: #1a1a1a;
    text-decoration: underline;
}
sup {
    font-family: Queens;
    font-weight: 800;
    top: 0;
}
.footer-bottom a {
    font-size: 1.5vw;
}

@media (min-width: 1000px) { 
    .smol p {
        font-size: 1vw;
        line-height: 1.25;
    }
    .smol a {
        font-size: 1vw;
        line-height: 1.25;
    }
}
@media (max-width: 1000px) { 
    p {
        font-size: 4vw;
        line-height: 1.5;
    }
    a {
        font-size: 4vw;
        line-height: 1.5;
    }
    .home-text a {
        font-size: 4vw;
    }
    .project-details p {
        padding: 2rem 0;
    }
    .footer-bottom a {
        font-size: 3vw;
    }
}
        

/*-------------------------------------------*/
 /* Special ✅ */
.serif  {
    font-family: Queens;
    letter-spacing: 0.1rem;
}
.hover:hover {
    font-family: Queens;
    letter-spacing: 0.1rem;
}
.princess {
    font-family: Queens;
    font-size: 1.5vw;
    color: #aaa;
    letter-spacing: 0.1rem;
 }
.tag {
    font-family: Work Sans;
    font-size: 1.25vw;
    line-height: 1.75;
    font-weight: 400;
    list-style: none;
    text-transform: uppercase;
 }
.caption {
    text-transform: none;
    color: #999;
}
.caption a{
    text-transform: none;
    color: #999;
    font-size: 1.25vw;
    line-height: 1.75;
}
.caption a:hover{
    text-decoration: underline;
}
.big-link {
    font-size: 2vw;
 }
 @media (max-width: 1000px) { 
    .princess {
        font-size: 4vw;}
    .tag {
        font-size: 3.25vw;
    }
    .big-link {
        font-size: 5vw;
     }
     .caption a{
        font-size: 3.25vw;
    }
 }


/*-------------------------------------------*/
 /*Lists ✅ */
li {
    font-family: Work Sans;
    font-size: 1.75vw;
    line-height: 1.75;
    font-weight: 400;
    list-style: none;
    color: #1a1a1a;
 }
 @media (max-width: 1000px) { 
    li {
        font-size: 3vw;
    }
 }

/*-------------------------------------------*/
/*PAGE SPECIFIC*/
/* Navigation */
nav li:first-of-type {
    padding-right: 2rem;
 }
nav a:hover {
    text-decoration: underline;
    color: #1a1a1a;
}

/*Footer*/
.index ul{
    padding-inline-start: 0;
}
.index li {
    display: inline;
    padding-right: 1.5rem;
}
.index li:first-of-type::before{
    content: none;
}
.index-li {
    font-family: Work Sans;
    font-size: 1.75vw;
    font-weight: 400;
    color: #1a1a1a;
    line-height: 2;
    display: inline;
}
.index li:hover {
    color: var(--random-color);
}
.index li:hover::before {
    color: #1a1a1a;
}
.footer-bottom a:hover{
    color: #1a1a1a;
    text-decoration: underline;
}
@media (max-width: 1000px) { 
    .index-li {
        font-size: 4.5vw;
        line-height: 1.75;
    }
    .index li::before {
        padding-right: .5rem;
        padding-left: .5rem;
    }
 }

/*Home */
.home-landing h1 {
    font-family: Work Sans;
    font-size: 5vw;
    line-height: 1.15;
    font-weight: 400;
    color: #1a1a1a;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.home-text h2{
    margin-block-end: 0em;
}
.project-content ul {
    display: flex;
    padding-inline-start: 0px;
}
.project li {
    padding-right: 16px;
} 
.home-text a:hover {
    color: #1a1a1a;
    text-decoration: underline;
}
.short-info li {
    line-height: 1;
}
.columns h4 {
    margin-block-end: 0.5rem;
}
@media (max-width: 1000px) { 
    .home-landing h1 {
        font-size: 9vw;
    }
}


/* Contact ✅ */
.index-title {
    opacity: 50%; 
    margin-block-end: 0em;
}
ul.skills:first-of-type{
    margin-right: 1rem;
}
ul.skills:last-of-type{
    margin-left: 1rem;
}
.info-list li {
    font-family: Work Sans;
    font-size: 1.75vw;
    line-height: 1.5;
    font-weight: 400;
    color: #1a1a1a;
    display: flex;
    border-top: 2px solid #1a1a1a;
    padding: 1rem 2rem;
 }
 .skills li {
    flex-direction: row;
 }
 @media (max-width: 1000px) {
    .info-list li {
        font-size: 4.5vw;
        flex-direction: column;
        padding: 2rem 0rem;
     }
    .skills li {
        flex-direction: row;
        padding: 2rem 0;
        }
    .info-list .short-row {
        font-style: italic;
    }
    ul.skills:first-of-type{
        margin-right: 0rem;
        }
    ul.skills:last-of-type{
        margin-left: 0rem;
        }
    ul.skills {
        margin: 0;
    }
    }
    

/* Project Page ✅ */
.meta {
    font-size: 1vw;
}
.project-meta ul {
    padding-inline-start: 0px;
}
.project-description a:hover {
    color: #1a1a1a;
    text-decoration: underline;
}
.text a {
    line-height: 3;
}
.text a:hover {
    color: #1a1a1a;
    text-decoration: underline;
}

@media (max-width: 1000px) { 
    .project-meta ul {
        display: flex;
        }
    .project-meta li {
        padding-right: 1rem;
        }
    .meta {
        font-size: 3vw;
    }
}

